<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/smartfine</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.jdbc.batch_size">30</property>
    <mapping resource="cz/smartfine/model/NetworkTicket.hbm.xml"/>
    <mapping resource="cz/smartfine/model/WaypointDB.hbm.xml"/>
    <mapping resource="cz/smartfine/server/business/client/model/SMSParkingInfoDB.hbm.xml"/>
    <mapping resource="cz/smartfine/server/business/client/model/SPCInfoDB.hbm.xml"/>
    <mapping resource="cz/smartfine/model/MobileDeviceDB.hbm.xml"/>
    <mapping resource="cz/smartfine/model/PolicemanDB.hbm.xml"/>
    <mapping resource="cz/smartfine/server/business/client/model/PolicemanLoginDB.hbm.xml"/>
    <mapping resource="cz/smartfine/server/queries/NamedQuery.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
